main{
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    background: gray;
    height: 200px;
    flex-wrap: nowrap;
    gap: 2rem;
}
.box{
    border:1px solid;
    /* min-width: 100px; */
    width: 100px;
    flex-basis: 200px;
    min-height: 100px;

}
.box1{
    background: blue;
    flex-grow: 1;
    flex-shrink: 1;
}
.box2{
    background: red;
    flex-grow: 2;
    flex-shrink: 2;
    order: 1;
}
.box3{
    background: green;
    flex-shrink: 1;
}